header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* <--- Really freaking cool! */
    align-items: center;
    padding: 4px 15px 2px;
    height: 36px;
    position: relative;
    background: transparent;
    visibility: visible;
}

.body1 {
    padding: 16px;
    width: auto;
    justify-content: center;
}

.body1 h2 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5rem;
    line-height: 3rem;
    color: #121212;
    font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
    font-weight: 700;
    font-style: italic;
}

.superJumbo {
    width: 780px;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    color: #666;
    font-family: nyt-imperial, georgia, 'times new roman', times, serif;
}

.superJumbo span {
    font-size: 0.9rem;
}

.superJumbo-div {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.left-nav img {
    padding-right: 19px;
}

.sticky {
    position: fixed;
    top: 0;
    background: #fff;
    width: 97%;
}

img[alt="menu"],
img[alt="search"] {
    height: 12px;
    width: auto;
}

img[alt="superJumbo"] {
    width: 945px;
    height: 532px;
    vertical-align: top;
}

.space-cosmos {
    font-size: 14.25px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    line-height: 19px;
}

.header-button button:hover {
    border: 1px solid #326891;
}

.header-button button:hover {
    background-color: #326891;
}

.header-button button {
    padding: 11px 12px 8px;
}

.header-button button {
    border-radius: 3px;
    cursor: pointer;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    transition: ease 0.6s;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #567b95;
    border: 1px solid #326891;
    color: #fff;
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    letter-spacing: 0.05em;
    padding: 11px 12px 8px;
    text-transform: uppercase;
}

body {
    font-family: nyt-franklin, georgia, 'times new roman', times, serif;
}

.popular-wrapper {
    display: grid;
    grid-template-columns: 75% 25%;
    margin: 50px;
    margin-bottom: -15px;
}

.left-wrapper {
    padding-right: 30px;
}
.left-wrapper a{
    color: black;
}

.first-row,
.second-row,
.third-row {
    display: grid;
    grid-template-columns: repeat(3, 31.3%);
    grid-template-rows: repeat(3, 105px);
    justify-content: space-between;
}

.first-row p,
.second-row p,
.third-row p {
    font-size: 15px;
}

span {
    font-size: 10px;
    cursor: pointer;
}
.hr, span, .date, .hr-margin, .horizontal li a{
    color: gray;
}
.hr-margin{
    margin-top: -5px;
    color: rgb(209, 204, 204) ;
    margin-left: 50px;
    margin-right: 50px;
}
.hr-border{
    border: rgb(209, 204, 204) solid 1px;
    margin-left: 50px;
    margin-right: 50px;
}
.one {
    color: black;
    border: 1px solid;
}
.date {
    font-size: 12px;
}

.image-row {
    height: auto;
    width: 100%;
}

.more-in-space {
    display: block;
    flex-direction: column;
}

.bottom-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
}
.home-page{
    font-size: 11px;
    color: blue;
}

.vertical-line {
    border-left: 1px solid grey;
    height: 360px;
    width: 2px;
    margin-left:15px;
}

.news-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2px 1fr;
    justify-self: start;
    margin: 30px;

}
footer{
    margin-top: -40px;
}

.news-column ul {
    list-style: none;
    font-size: 14px;
    line-height: 25px;
    margin-top: -50px;
}
.news-column ul li a{
    color: black;
}

.horizontal {
    display: grid;
    grid-template-columns: 2.4fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 20px;
}

.horizontal li {
    list-style-type: none;
    font-size: 11px;
}
.subscribe{
    border-radius: 50%;
}
.h4-group{
    line-height: 0.8px;
}
.h4-group img{
    margin-bottom: -8px;
}
.small-subscribe{
    font-size: 11px;
}
a:link {
    text-decoration: none;
  }
  .hover-row a:hover{
    color: gray;
    text-decoration: underline;
  }
  .most-popular a:hover, .left-wrapper a:hover, .third-row a:hover {
      color: gray;
  }
   .news-column a:hover{
    text-decoration:underline;
  }
  .last-hr{
      margin-left: 50px;
      margin-right: 50px;
  }
  .most-popular p a{
      color: black;
  }