header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;  /* <--- Really freaking cool! */
    align-items: center;
    padding: 4px 15px 2px;
    height: 36px;
    position: relative;
    background: transparent;
    visibility: visible;
}

.body1 {
    padding: 16px;
    width: auto;
    justify-content: center;
}

.body1 h2 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5rem;
    line-height: 3rem;
    color: #121212;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-weight: 700;
    font-style: italic;
}

.superJumbo {
    width: 780px;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    color: #666;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
}

.superJumbo span {
    font-size: 0.9rem;
}
.superJumbo-div {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.left-nav img {
    padding-right: 19px;
}

.sticky {
    position: fixed;
    top: 0;
    background: #fff;
    width: 97%;
} 

img[alt="menu"], img[alt="search"] {
    height: 12px;
    width: auto;
}

img[alt="superJumbo"] {
    width: 945px;
    height: 532px;
    vertical-align: top;
}

.space-cosmos {
    font-size: 14.25px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    line-height: 19px;
}
a {
    text-decoration: none;
    color: black;
}

.header-button button:hover {
    border: 1px solid #326891;
}
.header-button button:hover {
    background-color: #326891;
}
.header-button button {
    padding: 11px 12px 8px;
}
.header-button button {
    border-radius: 3px;
    cursor: pointer;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    transition: ease 0.6s;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #567b95;
    border: 1px solid #326891;
    color: #fff;
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    letter-spacing: 0.05em;
    padding: 11px 12px 8px;
    text-transform: uppercase;
}
body {
    font-family: nyt-imperial, georgia, 'times new roman', times, serif;
}

.popular-wrapper{
    display: grid;
    grid-template-columns: 75% 25%;
    margin: 20px;
}
.left-wrapper{
    padding-right: 30px;
}
.first-row, .second-row, .third-row {
    display: grid;
    grid-template-columns: repeat(3, 31.3%);
  grid-template-rows: repeat(3,  110px);
    justify-content: space-between;
}
.first-row p, .second-row p, .third-row p{
    font-size: 15px;
}
 span {
    font-size: 10px;
    color: gray;
}
a{
    text-decoration: none;
    color: black;
}
.one{
    color: black;
    border: 1px solid;
}
hr{
    color: gray;
}
.date{
    font-size: 11px;
    color: gray;
}
.image-row{
    height: auto;
    width: 100%;
}
.more-in-space{
    display: block;
    flex-direction: column;
}
.bottom-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}